@import "./styles.css";
@media only screen and (max-width: 400px) {
  body {
    /* overflow: hidden; */
    max-height: 99vh;
  }
  .calculator-grid {
    max-width: 98vw;
    max-height: 95vh;
    grid-template-columns: repeat(4, 5.2rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 5rem);
  }
  .calculator-grid .functionalButton:active, .calculator-grid .functionalButton:hover{
    animation: bgShiftFunctionality 0.1s backwards;
  }
  .calculator-grid button:active, .calculator-grid button:hover{
    animation: bgShift 0.1s backwards;

  }
  .footer-information{
      display:none;
  }
}
@keyframes bgShiftFunctionality {
  from {
    background-color: var(--functionalButton-background);
  }
  to {
    background-color: var(--functionalButton-background-event);
  }
}

@keyframes bgShift {
  from {
    background-color: var(--button-background);
  }
  to {
    background-color: var(--button-background-event);
  }
}